.sBgColor{
/*background: linear-gradient(to bottom, #7f7fd5, #86a8e7, #91eae4);*/
  background: linear-gradient(to left, #16222a, #3a6073);
height: 100vh;
  }
.serviceH1{
position: absolute;
    text-align: center;
    color: #fff;
    font-size: 40px;
    top: 60px;
    text-align: center;
    font-family: "Audiowide";
}
.sHeader2{
  font-size: 15px;
}
.sImg1{
  position: absolute;
  top: 110px;
  width: 700px;
  height: 500px;
  left: -30px;
}
.infocardContainer {
  display: flex;
  height: 60px;
  width: 60px;
  border-radius: 100px;
  background: rgb(0,159,255);
  background: linear-gradient(121deg, rgba(255,255,255,0) 13%, rgba(0,159,255,1) 100%);
  transition: all 400ms ease-in;
  transition-delay: 1s;
  /*margin: auto;*/
  /*margin-top: 100px;*/
  /*--margin-top: 100px;*/
  z-index: 6;
  position: relative;
  top: 150px;
  left: 70px;
  margin-bottom: 15px;
}
.infocardContainer:hover {
  width: 410px;
  border-radius: 100px 10px 100px 100px;
  transition: all 1s ease-out;
  /*transform: translateX(-100px);*/
}
.mb20{
  margin-bottom: 130px;
}
.infocardContainer div {
  text-color: white;
  flex-shrink: 1;
  width: 100%;
  --background-color: green;
}
.infocardContainer div * {
  display: flex;
  --flex: inherit;
  overflow: hidden;
  text-overflow: hidden;
  --background-color: yellow;
  color: white;
  white-space: nowrap;
  width: 0;
  height: auto;
  transition: all 450ms ease-in;
  transition-delay: 1s;
}
.infocardContainer:hover div *{
  --background-color: purple;
  display: flex;
  visibility: visible;
  transition: all 1s ease-out;
  transition-delay: 500ms;
  width: 100%;
  height: auto;
}

.infocardContainer #main, .infocardContainer #main img{
  --background-color: red;
  height: 60px;
  width: 60px;
  padding-right: 10px;
  border-radius: 100%;
  flex-shrink: 0;
  object-fit: cover;
}
.infocardContainer #main img{
  height: 60px;
  width: 60px;
  transition: none;
  display: float;
  position: relative;
  border: 3px solid white;
  margin: 0 0 0 0; padding: 0 0 0 0;
  left: -8px;
}
.infocardContainer #textbois {
  position: relative;
  top: 10px;
  left: 0px;
  /*font-size: 5px;*/
}
.infocardContainer #textbois #hotlinks {
  max-width: 70%;
  max-height: 40px;
  
  --background-color: white;
  position:absolute;
  bottom: 5px;
  display: flex;
  justify-content: space-between;
  border-radius: 13px;
}
.infocardContainer #textbois #hotlinks * {
  background-color: white;
  max-width: 30px;
  --margin: 0 1px 0 1px;
  border-radius: 25px;
}
/*TODO: animate copy main transition style for info*/
.infocardContainer #textbois #hotlinks *:hover {
  
  
}