.adBox1{
	background-color: #fff;
	height: 100vh;
}
.addBlob{
	height: 100vh;
	position: absolute;
}
.addImg{
	position: absolute;
	width: 500px;
	left: 150px;
	top: 100px;
}
.adBox2{
	height: 250px;
    z-index: 0;
    background-color: #f4f4f4;
    position: absolute;
    right: 150px;
    top: 230px;
    border: 2px solid #fcaf3c;
    border-radius: 30px;
}
.addHeader1{
	position: absolute;
	font-size: 40px;
	font-family: Audiowide;
	right: 370px;
	top: 100px;
	z-index: 1;
	color: #fcaf3c;

}
.addHeader2{
	text-align: center;
	font-family: Titan One;
	font-size: 40px;
	color: #da1c3d;
}
.addHeader3{
	text-align: center;
	font-family: Trirong;
	font-size: 20px;
	color: #454d5a;
}
.addHr{
	border: 1px solid #fcaf3c;
}
/*--------------------mob css-------------------*/
.admvBox1{
	position: relative;
	/*min-height: 100px;
	background-color: #ccc;*/
}
.admvBox2{
position: absolute;
}
.admvBox3{
position: absolute;
height: 80px;
background-color: #eee;
right: 14px;
top: 55px;
border-right: 50%;
border: 2px solid #fcaf3c ;
border-radius: 10px;
}
.admv-h1{
	font-size: 10px;
	position: absolute;
	font-size: 16px;
    font-family: 'Audiowide', serif;
    color: #fcaf3c;
    right: 72px;
}
.admvImg{
	position: relative;
    width: 130px;
    height: 143px;
    left: 21px;
    top: 24px;
}
.admv-h2{
	text-align: center;
    font-family: Titan One;
    font-size: 13px;
    color: #da1c3d;
    position: relative;
    top: 3px;
}
.admv-h3{
	text-align: center;
    font-family: Trirong;
    font-size: 10px;
    color: #454d5a;
    position: relative;
    top: -15px;
}