
.imgBox{
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  transform-origin: left;
  transform-style: preserve-3d;
  background: #000;
  transition: 1s
}

.pImg1{
  position: relative;
    left: 7px;
    /* top: 25px; */
    width: 258px;
    /* padding-top: 60px; */
    /* height: 100%; */
    object-fit: cover;
    /* transform-style: preserve-3d; */
    /* max-width: 100%; */
    max-height: 100%;
    overflow: hidden;
    z-index: 0;
}
.pImg2{
  position: relative;
    left: -123px;
    top: 11px;
    /*width: 270px;*/
    /* padding-top: 60px; */
    /* height: 100%; */
    object-fit: cover;
    /* transform-style: preserve-3d; */
    /* max-width: 100%; */
    max-height: 100%;
    overflow: hidden;
    z-index: 0;

}


/*-------------------------------*/

/*------------------------*/
.pHeader1{
  /*font-family: 'Great Vibes', serif;*/
  font-family: 'Audiowide', serif;

}
/*extra----------------*/
/*.pImg1{
  width: 600px;
}*/
.bgColor{
background-color: #fff;
min-height: 100vh;
/*background: linear-gradient(to right, #83a4d4, #b6fbff);*/
/*background: linear-gradient(to right, #bdc3c7, #2c3e50);*/
/*background: linear-gradient(to right, #0f2027, #203a43, #2c5364);*/
}
.pfBlob1{
  position: absolute;
  height: 100vh;
  left: 0px;
}
.pfSection{
  position: absolute;
  z-index: 1
}
.bg1{
  /*background-color: #dff0d8;*/
  /*background-color: #909499;*/
  /*background:linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);*/
  background: linear-gradient(to right, #2980b9, #6dd5fa, #3b8d99);


    position: relative;
    height: 360px;
    width: 300px;
    top: 172px;
    left: 158px;
    overflow: hidden;
    border-radius: 76px;
  flex-basis: 28%;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 2;


}
/*.bg1:hover{
  background-color: #afafe4;
}*/
.bg1::before,
.bg1::after {
  content: '';
  height: 0;
  width: 0;
  /*background:linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);*/
  /*background: linear-gradient(to right, #2980b9, #6dd5fa, #3b8d99);*/
  background:linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);

/*background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);*/

  position: absolute;
  z-index: -1;
  animation: none;
  border-radius: 20px;
}
.bg1::before {
  left: 0;
  top: -8px;
}

.bg1::after {
  right: 0;
  bottom: -8px;
}

@keyframes stroke {
  0% {
    height: 8px;
    width: 0;
  }
  50% {
    height: 8px;
    width: calc(100% + 8px);
  }
  100% {
    height: calc(100% + 16px);
    width: calc(100% + 8px);
  }
}

.bg1:hover::before,
.bg1:hover::after {
  animation: stroke 0.5s linear;
  animation-fill-mode: forwards;
}
.bg2{
  /*background-color: #ccc;*/
  position: absolute;
  height: 490px;
  position: relative;
  left: 333px;
  top: 130px;
  z-index: 3;
/*justify-content: center;*/
}
/*.pfHeader1{
  font-family: 'Audiowide', serif;
  color: #6a344b;
}*/
.pfHeader1{
  font-family: 'Audiowide', serif;
  /*color: #ff7615;*/
  color: #d80e32;
  font-size: 32px;
}
.pfHeader2{
  font-family: 'serif', serif;
  color: #6a344b;
  font-size: 21px;
}
.pfHeader3{
  font-family: 'Stint Ultra Condensed', serif;
  /*color: #303952;*/
  color: #2f3640;
  font-size: 28px;
}

/*--------------try*/
 
.radioBtn {
  position: absolute;  
  opacity: 0;
  margin-top: 95vh;
  cursor: pointer;
}

.trigger1  {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: solid 2px #00a8ff;
  border-radius: 999px;
  background-color: white;
  margin: 90vh 6px 0 6px;
  z-index: 2;
  cursor: pointer;
  transition-duration: .4s;
}

.radioBtn:checked + .trigger1{
  background-color: #00a8ff;
}

.radioBtn:focus + .trigger1{
  box-shadow: 0 0 0 2px teal, 0 0 18px white;
}

.slide {
  position: absolute;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transform: translateX(-110%);
  transition-duration: .4s;
  opacity: 1;
}

.radioBtn:checked ~ .slide {
  transform: translateX(100%);
}

.radioBtn:checked + .trigger1 + .slide {
  transform: translateX(0);
  opacity: 1;
}

.container1.active .hideDp{
  display: none;
}
/*.container1.active .showDp{
  display: all;
}

.showDp{
  display: all;
}*/
.trigger1{
  position: absolute;
  left: 55%;
  z-index: 7;
  background-color: #afafe4
}
.trigger2{
  position: absolute;
  left: 52%;
  z-index: 7;
  background-color: #afafe4

}
/*---------------img css-----------*/
.col {
  flex-basis: 28%;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  cursor: pointer;
  min-width: 150px;
  margin-bottom: 20px;
  z-index: 2;
  height: 390px;
  top: 160px;
  left: 110px;
}

.profile {
  width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #a5f7ef;
    padding: 12px;
    border-radius: 25px;
}

/*.profile img {
  width: 100%;
}
*/
.profile h2 {
  margin: 25px 0px 10px;
  font-weight: 500;
}

.profile p {
  margin-bottom: 10px;
  color: #ff7878;
}

.col::before,
.col::after {
  content: '';
  height: 0;
  width: 0;
  background: linear-gradient(135deg, #ff001d, #ddfa00);
  position: absolute;
  z-index: -1;
  animation: none;
  border-radius: 20px;
}

.col::before {
  left: 0;
  top: -8px;
}

.col::after {
  right: 0;
  bottom: -8px;
}

@keyframes stroke {
  0% {
    height: 8px;
    width: 0;
  }
  50% {
    height: 8px;
    width: calc(100% + 8px);
  }
  100% {
    height: calc(100% + 16px);
    width: calc(100% + 8px);
  }
}

.col:hover::before,
.col:hover::after {
  animation: stroke 0.5s linear;
  animation-fill-mode: forwards;
}

/**/
/*----------------mob css--------------------------------------------*/
.pmv-h1{
  font-size: 10px;
  font-family: 'Audiowide', serif;
  color: #d80e32;
}
.pmv-h2{
  font-size: 8px;
  position: relative;
  top: 4px;
  font-family: 'serif', serif;
  color: #6a344b;
}
.pmv-h3{
  font-size: 10px;
  position: relative;
  top: 7px;
  font-family: 'Stint Ultra Condensed', serif;
  color: #2f3640;
}
.hrLine1{
  border: 1px solid #afafe4;
  position: relative;
  top: 30px;
}
.pmvBox2{
  position: absolute;
  top: 312px
}
.pmv-blob1{
  transform: rotateY(180deg);
}
.pmvImg1{
  width: 100px;
    overflow: hidden;
    position: relative;
    left: -15px;
}

.pmvImg2{
  width: 205px;
    overflow: hidden;
    position: relative;
    left: -61px;
    top: 4px;
}
.pmvDiv1{
  position: relative;
    height: 130px;
    /*background-color: #a5f7ef;*/
    background: linear-gradient(to right, #2980b9, #6dd5fa, #3b8d99);
    border-radius: 30px;
    width: 100px;
    left: 35px;
    top: 11px;
    overflow: hidden;
}
.pmvDiv2{
  position: relative;
    right: 0px;
    left: 77px;
    top: 10px;
}
.pmvDiv3{
  position: relative;
    height: 125px;
    /*background-color: #a5f7ef;*/
    background: linear-gradient(to right, #2980b9, #6dd5fa, #3b8d99);
    border-radius: 30px;
    width: 100px;
    left: 42px;
    top: -3px;
    overflow: hidden;
}