{/*<div className="col-lg-6 col-md-6 c1" style ={ { backgroundImage: "url('/images/undraw_doctor.png')" } }>*/}

.c1{
	/*background-color: #eee;*/
	height: 370px;
    position: absolute;
    top: 205px;
    float: left;
}
.c2{
	/*background-color: #f4f4f4;*/
	height: 370px;
    position: relative;
    top: 205px;
    float: right;
    border-width: 1px solid #f4f4f4;
    /*padding-left: 50px;*/
    /*text-align: center;*/
}
.links1{
	position: absolute;
	width: 30%;
	top: 0px;
	right:0px;
	height: 90vh;
	/*z-index: 11;*/
	/*background-color: #fff;*/
	display: flex;
	justify-content: center;
	align-items: center;
}

ul{
	list-style: none;
}
.links1 a {
	text-decoration-style: none;
	color: #eee;
	padding: 0.7rem 0;
	display: inline-block;
	font-size: 2rem;
	font-weight: 300;
	font-family: 'Cantarell', serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 0.3s;
	opacity: 0;
	transform: translateY(10px);
}

.links1 a:hover{
	color: #fff;
}

.container1.active .links1 a{
	animation: appear1 0.5s forwards ease 0.2s;
}

@keyframes appear1 {
	from{
	transform: translateY(10px);
	opacity: 0;

	}
	to{
	transform: translateY(0px);
	opacity: 1;

	}
}

.OImg1{
	height: 370px;
    position: absolute;
    float: left;
    width: 90%;
    top: 19px;
}
.oHeader1{
	position: absolute;
	left: 40px;
	text-align: center;
	/*background: linear-gradient(to left, #1c92d2, #f2fcfe);*/
	color: #353b48;
	font-size: 31px;
  	font-family: 'Audiowide', serif;
  	letter-spacing: 1px;

}
.oHeader2{
	position: absolute;
	top: 38px;
	left: 40px;
	/*z-index: 6;*/
	font-size: 57px;
	color: #e84118;
	text-align: left;
  	font-family: 'Audiowide', serif;
  	letter-spacing: 3px;
	
	/*background-color: #f4f4f4;*/
}
.oHeader3{
	position: absolute;
	top: 145px;
	left: 40px;
	font-size: 33px;
	font-family: Stint Ultra Condensed;
	color: #303952;
}
.imgProp1{
	/*width: 500px;*/
	/*height: 400px;*/
	position: absolute;
	right: 0px;
	/*left: -50px;*/
	top: -10px;
	/*z-index: 5;*/
	/*background-color: #ff0;*/
}
.ovBgColor{
	min-height: 100vh;
	  /*background: linear-gradient(to right, #2193b0, #6dd5ed);*/
	  /*background: linear-gradient(to right, #16222a, #3a6073);*/
	  background-color: #fff;
	  /*position: absolute;*/
	  /*top: 85px;*/
}
.ovWave{
	position: absolute;
	right: 0px;
	/*height: 100vh;*/
}

.bgCheck{
	/*background-color: #f4f4f4;*/
	height: 450px;
	position: absolute;
	top: 120px;
}
.mb10{
	margin-bottom: 10px;
}
.oSvg1{
	width: 400px;
    position: absolute;
    right: 250px;
    top: 90px;
}
.oSvg2{
	width: 320px;
    position: absolute;
    right: 20px;
    top: 320px;
}
/*.oHeader1 {
	background:#fff;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	display:flex;
	font-family:'Titan One',cursive;
	font-size:90px;
	font-weight:700;
	flex-flow:row wrap;
	align-content:center;
	justify-content:center
	}

.oHeader1  span{width:100%;position:absolute;}

.oHeader1  span:before{
	background:linear-gradient(45deg,#fc5c7d,#6a82fb,#fc5c7d);
	width:100%;
	height:100%;
	display:block;
	position:absolute;
	content:"";
	mix-blend-mode:screen
	}*/
/*----------------------mob css------------------------------------------------*/
.omvBox1{
	/*background-color: #aaa;*/
	min-height: 100px;
	/*position: relative;*/
}
.omv-h1{
	/*text-align: center;*/
	/*color: #db2343;*/
	text-align: center;
    color: #fff;
    background-color: #7ad2e4;
    padding: 5px;
    position: relative;
}
.omvBox2{
	position: absolute;
	top: 90px;
}
.omv-h2{
    font-size: 10px;
    position: absolute;
    top: -23px;
	color: #353b48;
	font-family: 'Audiowide', serif;

}
.omv-h3{
font-size: 15px;
position: absolute;
top: -5px;
letter-spacing: 2px;
font-family: 'Audiowide', serif;
color: #e84118;
}
.omv-h4{
	font-size: 10px;
	position: absolute;
	top: 50px;
	font-family: Stint Ultra Condensed;
	color: #303952;

}