.container1{
	min-height: 100vh;
	width: 100%;
	background-color: #485461;
	/*background-image: linear-gradient(135deg,#485461 0%,#28313b 74%);*/
	background-image: linear-gradient(135deg,#485461 35%,#841c3b 94%);
	overflow-x: hidden;
	transform-style: preserve-3d;
	padding: 0;
}
.container2{
	min-height: 100vh;
	width: 100%;
	background-color: #485461;
	/*background-image: linear-gradient(135deg,#485461 0%,#28313b 74%);*/
	background-image: linear-gradient(135deg,#485461 35%,#841c3b 94%);
	overflow-x: hidden;
	transform-style: preserve-3d;
	padding: 0;
}
.container1.active .main-container{
	top: 50px !important;
}
.noPad{
	padding: 0px;
	margin: 0px;
}

.navbar{
	position: absolute;
	/*top: 15px;*/
	top: 0px;
	left: 0;
	width: 100%;
	z-index: 10;
	height: 30px;
	/*background-color: #ff0;*/
}

.menu{
	max-width: 82%;
	width: 100%;
	margin: 0 auto;
	padding: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
}



.hamburger-menu{
	height: 4rem;
	width: 3rem;
	cursor: pointer;
	/*background-color: #ff0;*/
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.bar{
	width: 27px;
	height: 1.5px;
	border-radius: 2px;
	/*background-color: #eee;*/
	background-color:#d51638;
	transition: 0.5s;
	position: relative;
}

.bar:before,.bar:after{
	content: "";
	position: absolute;
	width: inherit;
	height: inherit;
	background-color: #d51638;
	transition: 0.5s;
}

.bar:before{
	transform: translateY(-9px);
}

.bar:after{
	transform: translateY(9px);
}

.main{
	width: 80%;
	height: 70vh;
	/*background-color: #ff0;*/
	position: relative;
	left: 20vh;
	top: 20vh;
	z-index: 5;
	overflow: hidden;
	/*background-image: url("/images/banner8.jpg");*/
	/*background:url("banner8.jpg") no-repeat top center / cover;*/
}

.main-container{
	transform-origin: left;
	transform-style: preserve-3d;
	transition: 0.5s;
}

.imgProp{
	width: 100%;
	height: 100vh;
	/*background-color: #ff0;*/
	position: absolute;
	/*left: 5vh;*/
	/*top: 5vh;*/
	z-index: 5;
	overflow: hidden;
}

.header1{
	position: absolute;
	top: 135px;
	left: 50px;
	overflow: hidden;
	z-index: 6;
	/*font-family: 'Tangerine', serif;*/
	font-family: 'Merriweather', serif;
	font-size: 70px;
	color: #fff;
	letter-spacing: 2px;
	font-weight: bold;
}

.header2{
	position: absolute;
	top: 250px;
	left: 50px;
	overflow: hidden;
	z-index: 6;
	font-family: 'Merriweather', serif;
	font-size: 70px;
	color: #fff;
	font-weight: bold;
	letter-spacing: 2px;
}

.header3{
	position: absolute;
	top: 375px;
	left: 50px;
	overflow: hidden;
	z-index: 6;
	font-family: 'Oxygen', serif;
	font-size: 20px;
	color: #fff;
	font-weight: bold;
	letter-spacing: 2px;
	background: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
	padding-left: 5px;
	padding-right: 5px;

}

.faIcon1{
    font-size: 48px;
    text-align: center;
    padding: 0px;
    position: absolute;
    top: 3px;
    left: 0px;
}
.iconB1{
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    top: 450px;
    left: 45px;
    z-index: 10;
}
.faIcon2{
    font-size: 44px;
    text-align: center;
    padding: 0px;
    position: absolute;
    top: 11px;
    left: 0px;
}
.iconB2{
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 450px;
    left: 175px;
    z-index: 10;
}
.faIcon3{
    font-size: 48px;
    text-align: center;
    padding: 0px;
    position: absolute;
    top: 8px;
    left: 0px;
}
.iconB3{
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 450px;
    left: 310px;
    z-index: 10;
}

.container1.active .bar {
	transform: rotate(360deg);
	background-color: transparent;
}

.container1.active .bar:before {
	transform: translateY(0) rotate(45deg);
}

.container1.active .bar:after {
	transform: translateY(0) rotate(-45deg);

}

.container1.active .main-container {
	animation: main-animation 0.8s ease;
	transform:perspective(1200px) rotateY(20deg) translateZ(240px) scale(0.6);
	position: relative;
	top: 100px;
}
/**/
.container2.active .bar {
	transform: rotate(360deg);
	background-color: transparent;
}

.container2.active .bar:before {
	transform: translateY(0) rotate(45deg);
}

.container2.active .bar:after {
	transform: translateY(0) rotate(-45deg);

}

.container2.active .main-container {
	animation: main-animation 0.8s ease;
	transform:perspective(1200px) rotateY(20deg) translateZ(240px) scale(0.6);
	position: relative;
	top: 100px;
}
/**/

@keyframes main-animation {
	from{
		/*transform : translate(0);*/
		transform:perspective(0px) rotateY(0deg) translateZ(0px) scale(1)

	}

	to{
		transform:perspective(1300px) rotateY(20deg) translateZ(240px) scale(0.6);
	}
}

.links{
	position: absolute;
	width: 30%;
	top: 0px;
	right:0px;
	height: 90vh;
	z-index: -1;
	/*background-color: #fff;*/
	display: flex;
	justify-content: center;
	align-items: center;
}

ul{
	list-style: none;
}

.links a {
	text-decoration-style: none;
	color: #eee;
	padding: 0.7rem 0;
	display: inline-block;
	font-size: 2rem;
	font-weight: 300;
	font-family: 'Cantarell', serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 0.3s;
	opacity: 0;
	transform: translateY(10px);
}

.links a:hover{
	color: #fff;
}

.container1.active .links a{
	animation: appear 0.5s forwards ease 0.2s;
}
.container2.active .links a{
	animation: appear 0.5s forwards ease 0.2s;
}

@keyframes appear {
	from{
	transform: translateY(10px);
	opacity: 0;

	}
	to{
	transform: translateY(0px);
	opacity: 1;

	}
}

.shadow {
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: #fff;
	transform-style: preserve-3d;
	transform-origin: left;
	transition: 0.5s;
}

.shadow.one {
	z-index: -1;
	background-color: #fff;
	opacity: 0.15;
}

.shadow.two {
	z-index: -2;
	background-color: #fff;
	opacity: 0.1;
}

.container1.active .shadow.one{
	animation: shadow-one 0.8s ease-out;
	transform:perspective(1300px) rotateY(30deg) translateZ(130px) scale(0.55);
}

.container2.active .shadow.one{
	animation: shadow-one 0.8s ease-out;
	transform:perspective(1300px) rotateY(30deg) translateZ(130px) scale(0.55);
}

@keyframes shadow-one {
	0%{
		transform:perspective(1300px) rotateY(0deg) translateZ(0px) scale(0.55);

	}
	5%{
		transform:perspective(1300px) rotateY(15deg) translateZ(90px) scale(0.55);
		
	}
	100%{
		transform:perspective(1300px) rotateY(30deg) translateZ(150px) scale(0.55);
		
	}
}

.container1.active .shadow.two{
	animation: shadow-two 0.8s ease-out;
	transform:perspective(1300px) rotateY(30deg) translateZ(80px) scale(0.57);
}

.container2.active .shadow.two{
	animation: shadow-two 0.8s ease-out;
	transform:perspective(1300px) rotateY(30deg) translateZ(80px) scale(0.57);
}

@keyframes shadow-two {
	0%{
		transform:perspective(1300px) rotateY(0deg) translateZ(0px) scale(1)
	}
	20%{
		transform:perspective(1300px) rotateY(15deg) translateZ(60px) scale(0.57);
	}
	100%{
		transform:perspective(1300px) rotateY(25deg) translateZ(80px) scale(0.57);
	}
}

.container1.active .main-container:hover + .shadow.one {
		transform:perspective(1300px) rotateY(30deg) translateZ(170px) scale(0.55);
}

.container1.active .main-container:hover {
		transform:perspective(1300px) rotateY(20deg) translateZ(340px) scale(0.6);
}
/**/
.container2.active .main-container:hover + .shadow.one {
		transform:perspective(1300px) rotateY(30deg) translateZ(170px) scale(0.55);
}

.container2.active .main-container:hover {
		transform:perspective(1300px) rotateY(20deg) translateZ(340px) scale(0.6);
}
/**/
/*=============mobile css=======================================*/
.bg-mobview{
	background-color: #fff;
	height: 100px;
}
.img-mv{
	position: absolute;
	left: 50px;
	top: 0px;
	background-size: cover;

}
/*--------------------------mob css-----------------------------*/
.bmvBox1{
	min-height: 300px;
	/*background-color: #aaa;*/
	/*position: absolute;*/
}
.bmvBox2{
	height: 200px;
	/*background-color: #aaa;*/
	position: absolute;
	top: 110px;

}
.mvLogo{
	height: 100px;
	background-color: #fff;
	position: relative;
	left: 14%;
}
.bmvImg1{
	height: 250px;
	position: relative;
}
.bmv-header1{
	position: relative;
	color: #fff;
	font-size: 23px;
	font-family: 'Merriweather', serif;
	top: 20px;
}
.bmv-header2{
	position: relative;
	color: #fff;
	font-size: 22px;
	font-family: 'Merriweather', serif;
	top: 20px;
}
.bmv-header3{
	position: relative;
	color: #fff;
	font-size: 10px;
	font-family: 'Oxygen', serif;
	background: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
	top: 30px;
}
.bmv-iconB1{
	position: relative;
	top: 40px;
	width: 25px;
	height: 25px;
	background-color: #fff;
	border-radius: 50%;
}
.bmv-iconB2{
	position: relative;
	top: 15px;
	left: 40px;
	width: 25px;
	height: 25px;
	background-color: #fff;
	border-radius: 50%;
}
.bmv-iconB3{
	position: relative;
	top: -10px;
	left: 80px;
	width: 25px;
	height: 25px;
	background-color: #fff;
	border-radius: 50%;
}
.faIconMv1{
    font-size: 20px;
    text-align: center;
    padding: 0px;
    position: absolute;
    top: 3px;
    left: 4px;
}
.faIconMv2{
    font-size: 20px;
    text-align: center;
    padding: 0px;
    position: absolute;
    top: 4px;
    left: 2px;
}
.faIconMv3{
    font-size: 20px;
    text-align: center;
    padding: 0px;
    position: absolute;
    top: 3px;
    left: 4px;
}
